/***************************
    CUSTOM SCROLL BAR
****************************/
*, html{
    font-family: 'El Messiri', sans-serif;
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#000;

    --dark:#006400;
    --lightgreen: 	#5CED73;
    --newdark:#232323;

    --light:#ECECEC;

    --lite:#d6dee1;
    --gray:rgba(1,1,1,0.4);
    --primary:#f95c39;
    --secondary:#0d1d37;
    --lightblue: #00d2ff;
    --default_font:'El Messiri', sans-serif;
    --title_font:'El Messiri', sans-serif;
}



::-webkit-scrollbar {
    height: 12px;
    width: 0px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}



/***************************
        NEW ADDED CONTENT
****************************/


/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;

}


/* Centered text */
.centered {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.para {
  color: white;
  font-size: 30px;
  width: 600px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: color 0.5s;
  transform: translate(-50%, -50%);
  z-index: 9999;
  position: absolute;
  top: 60%; /* Adjust the top distance as needed */
  left: 50%;

}



/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
    background-color:#f3f3f3;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}


a:hover, .active, .active_sub_link, .btn{
    opacity:1;
}

em{
    font-style:normal;
    color:var(--lightgreen);
}

figure{
    padding:0;
    margin:0;
    pointer-events:none;
}

figure img{
    width:100%;
    height:100%;
}

a, p, .btn{
    font-size:15px;
    transition:0.5s;
}

p{
    line-height:1.9em;
    opacity:0.6;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

ul{
    padding:0;
    margin:0;
}

li{
    list-style:none;
}

.title, .sub_title{
    font-family:var(--title_font);
    font-weight:700;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;

    position:relative;
}

.grid{
    display:grid;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:2.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.2em;
}

.divisions{
    position:relative;
}

.title_header{
    margin:auto;
    text-align:center;
    width:60%;
}

.ball{
    position:relative;
}

.ball:before{
    content:"";
    border-radius:50%;
    background-color:rgba(1,1,1,0.2);
    position:absolute;
    left:0;
    top:30%;
    width:30px;
    height:30px;  
    transform:translate(-50%, -50%);
}

.link-tag{
    position:relative;
}

.link-tag:before{
    content:"\f0da";
    font-family:"FontAwesome";
    margin-right:5px;
    transition:0.5s;
    color:var(--primary_dark);
}

.link-tag:hover:before{
    margin-right:10px;
    color:inherit;
}

.link-tag:hover{
    color:var(--dark);
}

.buttons{
    align-items:center;
}

.buttons .btn:not(:last-child){
    margin-right:10px;
}

.btn{
    padding:0.6rem 1rem;
    border-radius:40px;
    border:0;
}

.btn_1{
    background-color:var(--dark);
    color:var(--white);
}

.btn_1:hover{
    opacity:0.7;
}

.btn_2{
    background-color:transparent;
    color:var(--white);
    border:1px solid var(--dark);
}

.btn_2:hover{
    background-color:var(--dark);
}

@media (max-width:1000px){
     .big{
        font-size:1.6em;
    }

    .medium{
        font-size:1.3em;
    }

    .small{
        font-size:1em;
    }

    .btn{
        padding:0.5rem 1rem;
    }

    a, p, .btn{
        font-size:12px;
    }
}

@media (max-width:620px){
    .flex{
        flex-wrap:wrap;
    }

    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }

    .btn_3:before{
        width:40px;
        height:40px;
    }

    .title_header{
        width:100%;
    }
}




/***************************
                    NAV
****************************/


nav {
    width: 100%;
    padding: 0rem 2rem;
    position: fixed;
    z-index: 9;
    background-color: transparent;
    color: var(--white);
    display: flex; /* Add flex display */
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    transition: 0.5s;
}

h1.medium.logo{
    width: 300px;
}

.logo {
    width: 160px;
    font-weight: 700;
    margin: 0;
    padding: 10px;
}

nav a {
    position: relative;
    color: inherit;
    opacity: 0.7;
    margin: 0 1.5rem;
}

nav a b {

    font-weight: 300;
}

nav li .active:after,
nav li:not(:last-child) a:after {

    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -0.5rem;
    height: 2px;
    background-color: var(--white);
    transition: 0.5s;
}

nav li .active:after,
nav li:not(:last-child) a:hover:after {

    width: 100% !important;
}

nav select {

    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 0.3rem;
    border-radius: 5px;
}

.lang {

    padding: 0.3rem;
    border: 2px solid var(--white);
    border-radius: 5px;
    display: flex; /* Add flex display */
    align-items: center;
    justify-content: center;
}

nav li:not(:last-child) a iconify-icon {
    display: none !important;
}

@media (max-width:920px){
    .nav_links{
        align-items:center;
        justify-content:space-between;
        width:100%;
        position:fixed;
        bottom:0;
        left:0;
        background-color:var(--dark);
        padding:0 1rem;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        transition:0.5s;
    }

    nav li:not(:last-child) a iconify-icon{
        display:block !important;
        font-size:2.5em;
    }

    nav li:not(:last-child) a b{
        display:none !important;
    }
}


/***************************
                   FOOTER
****************************/
footer{
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    width:100%;
    background-color:var(--light);
    color:var(--black);
}

footer .logo, footer .links, footer hr, footer .sub_footer{
    flex:1 1 100%;
}

footer .links{
    margin:auto;
    align-items:center;
    justify-content:center;

}

footer .links li{
    margin:0 1.5rem;
}

footer a{
    color:var(--black);
    opacity:0.7;
}

footer hr{
    opacity:0.2;

}

footer .sub_footer{

    align-items:Center;
    justify-content:space-between;
    font-size:12px;
    color:var(--black);
}



/***************************
              ADDITIONAL
****************************/
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--gray);
    z-index:99;
}




/***************************
                  HEADER
****************************/
header{
    position:static;
    width:100%;
    height:100vh;
    color:var(--white);
}

.carousel{
    width:100%;
    height:100%;
    position:static;
}

.carousel:after{
    content:"";
    width:100%;
    height:100%;
    position:static;
    top:0;
    left:0;
    background:linear-gradient(to bottom, rgba(1,1,1,0.8) 10%, rgba(1,1,1,0.4) 50%, rgba(1,1,1,0.2) 100%);
    z-index:1;
}

.carousel img{
    object-fit:cover;
    object-position:bottom;
}

.carousel_count{
    position:relative;
    bottom:1rem;
    left:0rem;
    align-items:center;
    z-index:1;
    pointer-events:none;
}

ol li, ul li{
    position:relative;
}

.carousel_count li{
    margin:0 0.4rem;
    position:relative;
    opacity:0.7;
}

.carousel_count .active{
    margin-right:4rem;
   opacity:1;
   transform:scale(1.3);
   transition:0.5s;
   animation: bright 1s linear;
}

.carousel_count .active:after{
    content:"";
    position:absolute;
    left:2.5em;
    top:50%;
    transform:translate(-50%, 0);
    width:30px;
    height:1px;
    background-color:var(--white);
    transition:0.5s;
}

.carousel_arrows{
    position:absolute;
    z-index:1;
    bottom:0;
    right:0;
}

.carousel_arrows a{
    color:var(--dark);
    padding:1rem;
    background-color:var(--lite);
    align-items:center;
    justify-content:center;
    opacity:0.7;
}

@media (max-width:1020px){
    header{
        height:60vh;
    }

    .carousel_count{
        bottom:0rem;
        left:-1rem;
        font-size:12px;
    }
}



/***************************
                 MAIN
****************************/
/*DIVISION_1*/
.division_1{
    background-color:#006400;
    color:var(--white);
}

.division_1 p {
    font-size: 18px;
}


/*DIVISION_2*/
.division_2 .title_header .bar{
    margin:20px auto;
}

.division_2 .cards{
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
}

.card{
    align-items:center;
    background-color:var(--white);
    color:var(--newdark);
    border:1px solid var(--gray);
    border-radius:10px;
    transition:0.5s;
    cursor:default;
    margin:1%;
}

.card img{
    width:50px;
    margin-right:0.5rem;
}

.card iconify-icon{
  font-size:2.5em;
  margin-right:0.5rem;
}

.card:hover{
    background-color:var(--dark);
    color:var(--white);
}

.card:hover img{
    filter:brightness(0) invert(1);
}

@media (max-width:620px){
    .card{
        width:100%;
    }
}


.feature-box {
    width: 80%;
    display: flex;
    text-align: center;
    margin-bottom: 25px;
    margin: auto;
}

.features {
    flex-basis: 60%;
    margin-top: 50px;
}

.features-img {
    flex-basis: 50%;
    margin: 50px;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.features span {
    font-size: 32px;
    color: #1ca700;
}

.features-icon .fas {
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #1ca700;
    width: 50px;
    height: 50px;
}

.features-description p {
    font-size: 18px;
}












/*DIVISION_3*/
.division_3{
    width:100%;
    overflow:hidden;
}

.division_3 iframe{
    width:100%;
    height:100%;
    border:0;
}

form{
    background-color:var(--white);
    overflow:hidden;
}

form .title_header{
    width:100%;
    text-align:left;
}

form .title_header .title{
    margin:0;
}

form fieldset{
    align-items:center;
}

form label{
    color:var(--gray);
    display:block;
}

form input, form select, form textarea{
    width:100%;
    padding:0.8rem;
    border:1px solid var(--gray);
    color:var(--gray);
    border-radius:5px;
    resize:none;
    font-weight:400;
}

form aside:first-child{
    margin-right:0.2rem;
}

form aside:last-child{
    margin-left:0.2rem;
}

form textarea{
    height:100px;
}





.blizer{
    animation: blizer 1s linear;
}

@keyframes blizer{
    0%{
        width:0px;
        filter:blur(5px);
    }
    100%{
        width:100%;
        filter:blur(0px);
    }
}


@keyframes bright {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}





/************************
testimonials
 */
#testimonial{
      width: 100%;
      padding: 70px 0;
    }

    .testimonial-row{
      flex-wrap: wrap;

        justify-content: space-between;

        display: flex;
        width: 90%;
        margin: auto;
    }

    .testimonial-col{
      transition: transform 0.5s;

      cursor: pointer;
      border-radius: 5px;
      box-shadow:  0 10px 20px 3px #7fbf7f;
      padding: 10px;
      margin-bottom: 30px;
      flex-basis: 28%;
    }

    .testimonial-col:hover{
      transform: translateY(-16px);
    }


    .testimonial-col p{
      font-size: 17px;
    }

.title-text{
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
    /* font-weight: bold;*/

    .title-text p{
      font-size: 40px;
      color: #000;
    }

    .title-text h1{
      font-size:30px;
      color: #1ca700;
    }

    .user img {
    width: 40px;
    border-radius: 3px;
}

.user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color: #27c0ff;
}

h3.small {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
    text-align: center;
}
