<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic List with Jinja</title>
</head>
<body>

  <h1>Dynamic List</h1>

  {% if project_list %}
    <ol>
      {% for item in project_list %}
        <li>
          <div>{{ item }}</div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No data available.</p>
  {% endif %}

<a href="{{ url_for('newproject') }}">
  <button>Add Project</button>
</a>

</body>
</html>
