<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic List with Jinja</title>
    <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Cookie&family=Dancing+Script:wght@700&family=El+Messiri:wght@400;500&family=Fruktur&family=Great+Vibes&family=Merienda:wght@700&family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='currentProjectsStyle.css') }}">
</head>
<body>

<div class="header">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
    <span class="logo-text">EcoIntelliSense</span>
    <h1>Dynamic List</h1>
</div>

{% if data_list %}
    <ol>
        {% for item in data_list %}
            <li>
                <a href="{{ url_for('report', curr_proj=item) }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>No data available.</p>
{% endif %}

<a href="{{ url_for('newproject') }}">
    <button>Add Project</button>
</a>

</body>
</html>
